<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Display info</title>
    <style>
      body {
        background-color: #212121;
        color: white;
      }
      h3 {
        display: flexbox;
        orientation: middle;
        text-align: center;
        border-width: 50px;
      }
    </style>
  </head>
  <body>
    <h3>Username : {{uname}}</h3>
    <b>---</b>
    <h3>Email address: {{em}}</h3>
    <b>---</b>
    <h3>Phone number : {{phn}}</h3>
    <b>---</b>
  </body>
</html>
