<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Display info</title>
    <style>
           body {
    background-color: #212121;
    color: white
    }
    h1,h2{
        display:flexbox;
        orientation: middle;
        text-align: center;
        border-width: 50px;
    }
    b{
        text-align:center;
    }
    </style>
</head>
<body>
    <h1>Welcome {{us}}</h1>
    <b>-----------------------------------------------------------------------------------------------------------</b>
    <h2>{{msg}}</h2>
    </body>
    </html>